In [14]:
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
csv_path = "data.csv"
data_df = pd.read_csv(csv_path)

In [16]:
data_df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [17]:
data_df.columns

Index(['URLs', 'Headline', 'Body', 'Label'], dtype='object')

In [18]:
data_df.shape

(4009, 4)

In [19]:
data_df.isnull().sum()

URLs         0
Headline     0
Body        21
Label        0
dtype: int64

In [20]:
data_df = data_df.fillna('')

In [21]:
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [22]:
import io
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
 
# word_tokenize accepts
# a string as an input, not a file.
stop_words = set(stopwords.words('english'))
file1 = open("data.csv", errors="ignore")
 
# Use this to read file content as a stream:
line = file1.read()
words = line.split()
for r in words:
    if not r in stop_words:
        appendFile = open('filteredtext.txt','a')
        appendFile.write(" "+r)
        appendFile.close()

In [23]:
data_df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [24]:
dict = { 1 : 'REAL' , 0 : 'FAKE'}
label = data_df['Label'].map(dict)

In [25]:
label

0       REAL
1       REAL
2       REAL
3       REAL
4       REAL
        ...
4004    FAKE
4005    FAKE
4006    FAKE
4007    REAL
4008    FAKE
Name: Label, Length: 4009, dtype: object

In [26]:
x_df = data_df['Headline']
y_df = data_df['Label']

In [27]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
count_vectorizer = CountVectorizer()

In [29]:
count_vectorizer.fit_transform(x_df)

<4009x7161 sparse matrix of type '<class 'numpy.int64'>'
	with 37620 stored elements in Compressed Sparse Row format>

In [30]:
freq_term_matrix = count_vectorizer.transform(x_df)

In [31]:
tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)

In [32]:
print(tf_idf_matrix)

  (0, 6955)	0.4493310769441483
  (0, 6624)	0.1900608650753331
  (0, 5855)	0.5028906039847353
  (0, 2610)	0.3712968643895641
  (0, 1952)	0.31592001334802483
  (0, 1496)	0.3712968643895641
  (0, 837)	0.3654467313276111
  (1, 6919)	0.26041045020173637
  (1, 6834)	0.3477344604282834
  (1, 6484)	0.12049547702298054
  (1, 6038)	0.30358575202130283
  (1, 5967)	0.3949927630411253
  (1, 5571)	0.21567534120205706
  (1, 4118)	0.3615955543898164
  (1, 3749)	0.3949927630411253
  (1, 1378)	0.3703801693239207
  (1, 348)	0.2794574034585602
  (2, 7055)	0.20723165387802106
  (2, 6624)	0.1738442360584058
  (2, 3677)	0.4599822948086904
  (2, 3438)	0.4599822948086904
  (2, 3085)	0.27304088846130475
  (2, 2452)	0.34880457836303674
  (2, 1496)	0.3396165734334678
  (2, 257)	0.438304029796518
  :	:
  (4006, 335)	0.497771209636299
  (4007, 6756)	0.20948778107258637
  (4007, 6587)	0.3341534034471164
  (4007, 6484)	0.2174197059238309
  (4007, 5972)	0.343853302451095
  (4007, 4546)	0.343853302451095
  (4007, 3249)	0.12330690888372012
  (4007, 2016)	0.29987969614330184
  (4007, 1661)	0.26781676978189695
  (4007, 1237)	0.247150423767977
  (4007, 750)	0.27847207697102977
  (4007, 436)	0.35635864724642013
  (4007, 178)	0.343853302451095
  (4008, 6840)	0.37705053567377433
  (4008, 4999)	0.3172921463873823
  (4008, 4895)	0.23152443783063853
  (4008, 4657)	0.31329020085126646
  (4008, 4422)	0.13976825099361317
  (4008, 4319)	0.2432686900054792
  (4008, 4063)	0.3216757817441675
  (4008, 3663)	0.3216757817441675
  (4008, 2696)	0.20625088085205065
  (4008, 687)	0.3216757817441675
  (4008, 403)	0.29727040587098397
  (4008, 349)	0.2921547652578713

# Modeling

In [33]:
# Splitting the data into test data and train data
x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,y_df, random_state=0)

In [34]:
y_df.value_counts()

0    2137
1    1872
Name: Label, dtype: int64

# Logistic Regression

In [35]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)

print(Accuracy*100)

84.94516450648057

# Naive-Bayes

In [36]:
from sklearn.naive_bayes import MultinomialNB

NB = MultinomialNB()
NB.fit(x_train, y_train)
Accuracy = NB.score(x_test, y_test)

print(Accuracy*100)

83.9481555333998

# Decision Tree

In [41]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
Accuracy = clf.score(x_test, y_test)

print(Accuracy*100)

81.65503489531406

# Passive-Aggressive Classifier

In [42]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import PassiveAggressiveClassifier

pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(x_train,y_train)

#Predict on the test set and calculate accuracy
y_pred=pac.predict(x_test)
score=accuracy_score(y_test,y_pred)

print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 85.24%