In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv("train.csv", sep='\t', encoding='utf-8')
test = pd.read_csv("test.csv", sep='\t', encoding='utf-8')

In [37]:
record = "WASHINGTON—In an effort to aid unhoused service members, the Department of Veteran Affairs announced Monday a new initiative to help get homeless veterans into bigger tents. “It’s frankly disgusting that these men and women who nobly served their country are consigned to sleeping in a cramped pop-up where they barely have room to stretch out, and we are committed to doing something about it,” said VA secretary Denis McDonough, telling reporters that the initiative would aim to provide former military personnel a high-quality 3-person tent with a screened-in porch area to host guests. “Our goal is to ensure that within the next five years, every hero who is sleeping on the ground can move into a luxurious REI tent containing multiple vestibules for clothing and personal possessions. And for those who need it, we will also provide a complimentary steel stake for them to fight off potential intruders.” McDonough added that this was only a temporary solution and the agency’s ultimate goal was to place all the homeless veterans in a giant circus tent where we never have to think about them again."
id = "4"
input_df= pd.DataFrame([[id, record]], columns=['id','text'])

input_df

  id                                               text
0  4  WASHINGTON—In an effort to aid unhoused servic...

In [4]:
test.head()

   id                                               text
0   2  The 2017 Teen Choice Awards ceremony was held ...
1   3  The concert, part of “The Joshua Tree Tour,” w...
2   4  Selena Gomez refuses to talk to her mother abo...
3   5  This is worse than a lump of coal in your stoc...
4   6  Luann De Lesseps is going to rehab after her a...

In [5]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mlove\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mlove\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
train['text'].loc[0]

'Get the latest from TODAY Sign up for our newsletter  No one ever truly gets over losing a loved one, and Blake Shelton is no exception. He was just 14 when his older brother Richie died on Nov. 13, 1990. And, as Shelton noted in a tweet Monday, "It changed my life forever."  Richie was 24 when he died in a car accident in the Sheltons\' home state of Oklahoma. Two years ago, Shelton sent out a message for the 25th anniversary of his loss:  Richie, who was Blake\'s half-brother (they shared a mother), was a passenger in a car that collided with a school bus in Ada, south of Oklahoma City.  Richie, driver Redena McManus and a 3-year-old boy, Christopher McManus, all died during or shortly after the collision, while the bus driver and passengers were uninjured, according to police reports.  The accident has clearly remained with Blake, who told 60 Minutes in 2014, "I remember picking up the phone to call him a week after he was dead, to tell him something. I was picking up the phone to call him, to tell him something I just saw on TV or, and it was like constantly a shock to me that he was dead."  Blake Shelton playing at TODAY\'s Halloween Extravaganza in New York City on Oct. 31. Getty Images  In 2011, Blake and his then-wife Miranda Lambert wrote a single called "Over You," which was inspired by Richie.  Still, the two brothers had bonded despite the age difference; both shared a love of country music. "His bedroom was right across the hallway from mine when I was little," Blake said in that interview. "And he was listening to Hank Williams, Jr. or Waylon, Lynyrd Skynyrd or Bob Seeger. I just, whatever was popular really, Richie loved all music.  "And I would be sitting there going, \'Man, that guy\'s my hero. That\'s the coolest guy. He’s my big brother.\'"  Follow Randee Dawn on Twitter.'

In [7]:
train.text.loc[ : 5].values.tolist()[0]

'Get the latest from TODAY Sign up for our newsletter  No one ever truly gets over losing a loved one, and Blake Shelton is no exception. He was just 14 when his older brother Richie died on Nov. 13, 1990. And, as Shelton noted in a tweet Monday, "It changed my life forever."  Richie was 24 when he died in a car accident in the Sheltons\' home state of Oklahoma. Two years ago, Shelton sent out a message for the 25th anniversary of his loss:  Richie, who was Blake\'s half-brother (they shared a mother), was a passenger in a car that collided with a school bus in Ada, south of Oklahoma City.  Richie, driver Redena McManus and a 3-year-old boy, Christopher McManus, all died during or shortly after the collision, while the bus driver and passengers were uninjured, according to police reports.  The accident has clearly remained with Blake, who told 60 Minutes in 2014, "I remember picking up the phone to call him a week after he was dead, to tell him something. I was picking up the phone to call him, to tell him something I just saw on TV or, and it was like constantly a shock to me that he was dead."  Blake Shelton playing at TODAY\'s Halloween Extravaganza in New York City on Oct. 31. Getty Images  In 2011, Blake and his then-wife Miranda Lambert wrote a single called "Over You," which was inspired by Richie.  Still, the two brothers had bonded despite the age difference; both shared a love of country music. "His bedroom was right across the hallway from mine when I was little," Blake said in that interview. "And he was listening to Hank Williams, Jr. or Waylon, Lynyrd Skynyrd or Bob Seeger. I just, whatever was popular really, Richie loved all music.  "And I would be sitting there going, \'Man, that guy\'s my hero. That\'s the coolest guy. He’s my big brother.\'"  Follow Randee Dawn on Twitter.'

In [8]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
#data pre processing
def preprocess_data(data):
    #tokenization
    token = RegexpTokenizer('\s+', gaps = True)
    text_data = []
    for values in data.text:
        tokenized_data = token.tokenize(values)
        text_data.append(tokenized_data)

    #stopwords removal
    stp = stopwords.words('english')
    clean_data = []
    for data in text_data:
        clean_text = [words.lower() for words in data if words.lower() not in stp]
        clean_data.append(clean_text)

    #stemming
    ps = PorterStemmer()
    stemmed_data = [] 
    for data in clean_data:
        stemmed_text = [ps.stem(words) for words in data] 
        stemmed_data.append(stemmed_text)

    #Flatten data
    updated_data = []
    for data in stemmed_data:
        updated_data.append(" ".join(data))

    #TF-IDF is a statistical measure that evaluates how relevant a word is to a document in a collection of documents.    
    tfidf = TfidfVectorizer()
    tfidf_matrix = tfidf.fit_transform(updated_data)

    return tfidf_matrix

In [44]:
print(preprocessed_data2)

  (0, 2)	0.08304547985373997
  (0, 85)	0.08304547985373997
  (0, 52)	0.08304547985373997
  (0, 11)	0.08304547985373997
  (0, 30)	0.08304547985373997
  (0, 60)	0.08304547985373997
  (0, 86)	0.08304547985373997
  (0, 3)	0.08304547985373997
  (0, 76)	0.08304547985373997
  (0, 82)	0.08304547985373997
  (0, 0)	0.08304547985373997
  (0, 41)	0.08304547985373997
  (0, 64)	0.08304547985373997
  (0, 25)	0.08304547985373997
  (0, 78)	0.08304547985373997
  (0, 79)	0.08304547985373997
  (0, 14)	0.08304547985373997
  (0, 6)	0.08304547985373997
  (0, 51)	0.08304547985373997
  (0, 63)	0.08304547985373997
  (0, 12)	0.08304547985373997
  (0, 90)	0.08304547985373997
  (0, 50)	0.08304547985373997
  (0, 16)	0.08304547985373997
  (0, 67)	0.08304547985373997
  :	:
  (0, 55)	0.08304547985373997
  (0, 94)	0.08304547985373997
  (0, 46)	0.08304547985373997
  (0, 21)	0.08304547985373997
  (0, 28)	0.08304547985373997
  (0, 42)	0.2491364395612199
  (0, 84)	0.08304547985373997
  (0, 10)	0.08304547985373997
  (0, 37)	0.16609095970747995
  (0, 29)	0.08304547985373997
  (0, 34)	0.08304547985373997
  (0, 40)	0.16609095970747995
  (0, 53)	0.08304547985373997
  (0, 48)	0.08304547985373997
  (0, 7)	0.08304547985373997
  (0, 1)	0.08304547985373997
  (0, 91)	0.2491364395612199
  (0, 20)	0.08304547985373997
  (0, 45)	0.08304547985373997
  (0, 74)	0.08304547985373997
  (0, 87)	0.08304547985373997
  (0, 4)	0.08304547985373997
  (0, 22)	0.08304547985373997
  (0, 39)	0.16609095970747995
  (0, 92)	0.08304547985373997

In [10]:
train_len = train.shape[0]
merged_data = pd.concat((train.drop('label', axis = 1), test.drop('id', axis = 1)), axis = 0).reset_index().drop('index', axis = 1)

In [11]:
preprocessed_data = preprocess_data(merged_data)

In [38]:
preprocessed_data2 = preprocess_data(input_df)

In [ ]:
preprocessed_data2

In [12]:
train_data = preprocessed_data[ : train_len]
test_data = preprocessed_data[train_len : ]

In [13]:
# Model selection
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(train_data, train.label, test_size=0.2, random_state = 42)

In [14]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Accuracy = logreg.score(X_test, y_test)

print(Accuracy*100)

# Naive-Bayes

from sklearn.naive_bayes import MultinomialNB

NB = MultinomialNB()
NB.fit(X_train, y_train)
Accuracy = NB.score(X_test, y_test)

print(Accuracy*100)

# Decision Tree

from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
Accuracy = clf.score(X_test, y_test)

print(Accuracy*100)

# Passive-Aggressive Classifier

from sklearn.metrics import accuracy_score
from sklearn.linear_model import PassiveAggressiveClassifier

pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(X_train,y_train)

#Predict on the test set and calculate accuracy
y_pred=pac.predict(X_test)
score=accuracy_score(y_test,y_pred)

print(f'Accuracy: {round(score*100,2)}%')

76.05210420841684
66.33266533066133
68.23647294589178
Accuracy: 75.85%

In [ ]:
pred =

In [49]:
# make predictions--> Logistic Regression
predictions = logreg.predict(test_data)
# Submissions
test_ID = test.id
test_text = test.text
log_predict = pd.DataFrame({'id' : test_ID, 'body' : test_text, 'logistic_regression' : predictions})
log_predict.head()

   id                                               body logistic_regression
0   2  The 2017 Teen Choice Awards ceremony was held ...                   0
1   3  The concert, part of “The Joshua Tree Tour,” w...                   0
2   4  Selena Gomez refuses to talk to her mother abo...                   1
3   5  This is worse than a lump of coal in your stoc...                   1
4   6  Luann De Lesseps is going to rehab after her a...                   0

In [50]:
# make predictions--> Naive Bayes
predictions2 = NB.predict(test_data)
# Submissions
test_ID = test.id
NB_predict = pd.DataFrame({'id2' : test_ID, 'naive_bayes' : predictions})
NB_predict.head()
log_predict = pd.concat([log_predict, NB_predict], axis = 1)
del log_predict['id2']
log_predict.head()

,id,body,logistic_regression,naive_bayes
0,2,The 2017 Teen Choice Awards ceremony was held ...,0,0
1,3,"The concert, part of “The Joshua Tree Tour,” w...",0,0
2,4,Selena Gomez refuses to talk to her mother abo...,1,1
3,5,This is worse than a lump of coal in your stoc...,1,1
4,6,Luann De Lesseps is going to rehab after her a...,0,0

In [51]:
# make predictions--> Decision Tree
predictions3 = clf.predict(test_data)
# Submissions
test_ID = test.id
clf_predict = pd.DataFrame({'id2' : test_ID, 'decision_tree' : predictions})
clf_predict.head()
log_predict = pd.concat([log_predict, clf_predict], axis = 1)
del log_predict['id2']
log_predict.head()

,id,body,logistic_regression,naive_bayes,decision_tree
0,2,The 2017 Teen Choice Awards ceremony was held ...,0,0,0
1,3,"The concert, part of “The Joshua Tree Tour,” w...",0,0,0
2,4,Selena Gomez refuses to talk to her mother abo...,1,1,1
3,5,This is worse than a lump of coal in your stoc...,1,1,1
4,6,Luann De Lesseps is going to rehab after her a...,0,0,0

In [52]:
# make predictions--> Passive Aggressive Classifier
predictions4 = pac.predict(test_data)
# Submissions
test_ID = test.id
pac_predict = pd.DataFrame({'id2' : test_ID, 'passive_aggressive_classifier' : predictions})
pac_predict.head()
log_predict = pd.concat([log_predict, pac_predict], axis = 1)
del log_predict['id2']
del log_predict['id']
log_predict.head()

,body,logistic_regression,naive_bayes,decision_tree,passive_aggressive_classifier
0,The 2017 Teen Choice Awards ceremony was held ...,0,0,0,0
1,"The concert, part of “The Joshua Tree Tour,” w...",0,0,0,0
2,Selena Gomez refuses to talk to her mother abo...,1,1,1,1
3,This is worse than a lump of coal in your stoc...,1,1,1,1
4,Luann De Lesseps is going to rehab after her a...,0,0,0,0

In [54]:
log_predict.to_csv("ml_model_predictions.csv", index= True)

In [28]:
log_predict.dtypes

Body                             object
Logistic_Regression              object
Naive_Bayes                      object
Decision_Tree                    object
Passive_Aggressive_Classifier    object
dtype: object

In [53]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
username = "postgres"
password = "group4winners"
server = "finalprojgroup4.c26jlhodxytp.us-east-2.rds.amazonaws.com"
database = "FinalProjGroup4"
# create engine to postgres
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{server}/{database}')
# Create our session (link) from Python to the DB
session = Session(engine)
table_name = "prediction_data"
log_predict.to_sql(table_name, con=engine, if_exists='append')
# Close Session
session.close()